{% extends 'account/account-base.html' %} 

{% block account_content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">        

        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Change Your Password</h1>
                  </div>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label>Old password</label>
                        {{ form.old_password }}
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label>New password</label>
                        {{ form.new_password1 }}
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label>Confirm new password</label>
                        {{ form.new_password2 }}
                      </div>
                  </div>
                  <div class="col-12">
                      <button id="checkout-button" class="btn btn-primary w-100 py-2" type="submit">Change</button>
                  </div>    
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}